@import '../../common/variables';

.appbar {
  padding: 0 $spacing-unit;
  background: $primary-color;
  color: #fff;
  min-height: $toolbar-height;
  display: flex;
  align-items: center;

  @media screen and (min-width: $media-large) {
    min-height: $toolbar-height-large;
  }

  &--title {
    font-size: $subheading-font-size;
  }
}
